.go {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;

    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 10px;
}

.fatherhood {
    position: absolute;
    right: auto;
    left: 10px;
    top: 10px;
    bottom: auto;

    width: 25%;
}

.embed {
    position: absolute;
    right: 10px;
    left: auto;
    top: 10px;
    bottom: auto;
    height: 82%;

    border-style: solid;
    border-color: black;
}

.back {
    position: absolute;
    right: auto;
    left: 20px;
    top: auto;
    bottom: 6%;

    width: 3%;
}

.home {
    position: absolute;
    right: auto;
    left: 100px;
    top: auto;
    bottom: 6%;

    width: 3%;
}

.next {
    position: absolute;
    right: auto;
    left: 180px;
    top: auto;
    bottom: 6%;

    width: 3%;
}

.contents {
    position: absolute;
    right: auto;
    left: 260px;
    top: auto;
    bottom: 4%;

    width: 5%;
}

.toc-list {
    font-size: medium;
}