.go {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;

    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 10px;
}

.embed {
    position: absolute;
    width: 100%;
    height: 100%;

    border-style: solid;
    border-color: black;
}

.divembed {
    position: relative;
    width: 63%;
    height: 90%;
    top: 3%;

    left: 10%;
}

.back {
    position: absolute;
    right: auto;
    left: 20px;
    top: auto;
    bottom: 6%;

    width: 3%;
}

.home {
    position: absolute;
    right: auto;
    left: 100px;
    top: auto;
    bottom: 6%;

    width: 3%;
}

.next {
    position: absolute;
    right: auto;
    left: 180px;
    top: auto;
    bottom: 6%;

    width: 3%;
}

.contents {
    position: absolute;
    right: auto;
    left: 260px;
    top: auto;
    bottom: 4%;

    width: 5%;
}

.links {
    color: black;
    font-size: 30px;
}

.content-number {
    font-size: 30px;
}

.image {
    position: relative;
    width: 25%;
    height: 80%;
    top: 3%;
}

.fatherhoodPoster {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fatherhoodSlideshow {
    position: relative;
    width: 45%;
    height: 49%;
    top: 15%;
}

.fatherhoodPowerpoint {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fatherhoodPowerpointDisclamer {
    position: absolute;
    top: 10%;
    left: 7%;
}